html{
    background-color: black;
}
body{
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.box{
  border: 1px solid black;
    width: 15em;
    height: 10em;
    background-color: yellow;
    margin: 20px;  
    text-align: center;  
    padding-top: 4em;
    box-sizing: border-box;
    display: inline-block;
    
}
